html {
font-family: 'Inter', sans-serif;
font-family: 'Medula One';
font-family: 'PT Sans', sans-serif;
font-size: 16px;
}
/* Universal Styles */
  
  h2 {
    padding-bottom: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
  } 
  .media-container {
    overflow: hidden;
  }
  
  .media-container img,
  .media-container video {
    display: block;
    height: 100%;
    width: 100%;
  }
  
  /* Universal Component - Flex Content Container */
  
  .flex-content {
    display: flex;
    padding: 0 1.5rem;
  }
  
  .flex-content .main-content {
    width: 40%;
    padding: 2rem 1.5rem 2rem 0;
    border-right: 1px solid rgb(245, 245, 245);
  }
  
  .flex-content .supporting-content {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 2rem 0;
  }
  
    @media only screen and (max-width: 895px) {
    .content-image-box .desktop {
      display: none;
    }
  
  
    .media-container {
      width: 100%;
    }
  }
  
  /* Header */
  
  header {
    width: 100%;
    padding: 0.01rem 0.01rem 0 0;
  }
  
  header .desktop {
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    align-items: center;
  }
  
  header .logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  
  header .logo img {
    width: 8rem;
    margin: .5rem 1rem;
  }

  header a {
    color: #00c2cb;
    text-decoration: none;
  }
  
  header li {
    display: inline;
    padding: 1rem 1rem 0 2rem;
    font-family: 'Medula One';
    font-size: 1.6rem;
  }
    
  header .mobile {
    display: none;
  }
  
  @media only screen and (max-width: 550px) {
    header .desktop {
      display: none;
    }
  
    header .mobile {
      display: block;
      width: 100%;
    }
  
    header .mobile ul {
      background-color: black;
      color: #00c2cb;
      display: flex;
      height: 5rem;
      justify-content:flex-end;
      align-items: left;
    }

    header .mobile img {
      display: flex;
      height: 2.8rem;
      margin: 0;
      float: left;
    }
 
    nav {
      display: none;
    }
  }
  
  /* Banner */
  
  #banner {
    margin-top: 8rem;
    background-color: #2f748e;
    height: 79vh;
  }
  
  #banner .main-content {
    border-right: none;
    text-align: center;
}
  
  #banner img {
    vertical-align: middle;
  }
  
  #banner h3 {
    width: auto;
    padding-top: 3.5rem;
    font-size: 4rem;
    font-weight: 400;
    text-align: left;
    color: #414043;
  }

  #banner button {
      background-color: #2f748e;
      font-size: 1.65rem;
      font-weight: 600;
      border: 2px solid black;
      color: #414043;
      height: auto;
      float: left;  
      margin-top: 2.5rem;
      justify-content: center;
    }


    
  button a {
    color: #414043;
    text-decoration: none;
  }

/* Success */

.success {
    width: 100%;
}

#success h1 {
    margin-top: 4rem;
    width: 100%;
    text-align: center;
    font-size: 10rem;
    font-family: 'Medula One';
    color: #2f748e;
}

.success img {
    height: auto;
}

  @media only screen and (max-width: 770px) {
    #banner {
      flex-direction: column;
      padding: 0;
    }
  }
  /* Who we are */

  #who-we-are {
    flex-direction: row;
    text-align: center;
    width: 100%;
    }


  #who-we-are h1 {
    font-family: 'Medula One';
    font-size: 10rem;
    color: #2f748e;
  }

  #who-we-are p {
    padding-left: 25%;
    padding-right: 25%;
    font-size: 1.65em;
  }

    
   /* Footer */
  
  footer {
    display: flex;
    text-align: right;
    padding: 1rem 1.5rem;
    font-size: .75rem;
    color: rgb(112, 112, 112);
    border-top: 1px solid #414043;
  }
  
  footer .copyright {
    flex-grow: 1;
    text-align: center;
}
  
  footer a {
    margin-right: .75rem;
  }
  
  footer a:last-child {
    margin-right: 0;
  }
  
  @media only screen and (max-width: 600px) {
    footer a {
      display: none;
    }
}